* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MesloLGS_NF_Regular';
    font-weight:100;
    outline: none;
}


@font-face {
    font-family: 'MesloLGS_NF_Regular';
    src: url('fonts/MesloLGS_NF_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body {
    min-width: 1000px;
    color: #5a5656
}

h2 {
    font-size: 21px;
}

h3 {
    padding-bottom: 20px;
    font-size: 14px;
    color: #8993ad;
}

h4 {
    padding: 0 20px 20px 0;
    float: left;
    display: block;
    font-size: 16px;
}

img {
    float: left;
    padding-left: 20px;
}

.newText {
    color: #a9b1b1;
    padding: 100px 20px 20px 20px;
    background-color: white;
    width: 390px;
    height: 160px;
    display: block;
    font-size: 14px;
}

.empty {
    padding-top: 30px;
    padding-left: 0;
    background-color: #f5f5f5;
}

textarea {
    background-color: #fcfcfc;
    border-color: #f6f6f6;
}

input {
    background-color: #fcfcfc;
    border-color: #ebebeb;
    height: 45px;
}

.gray {
    background-color: #f5f5f5;
}

.fixed-container {
    width: 960px;
    height: 760px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.left-section {
    width: 490px;
    margin-top: 60px;
    float: left;
}

.right-section {
    margin-top: 60px;
    width: 470px;
    float: right;
}

.white-container {
    margin-top: 30px;
    width: 470px;
    height: 540px;
    background-color: white;
}

.name {
    padding: 40px 40px 0px 40px;
}

.event {
    width: 470px;
    overflow-y: hidden;
    margin-bottom: 20px;
    background-color: white;
    position: relative;

}

.event-name {
    width: 410px;
    height: 40px;
    font-weight: normal;
    padding: 30px 20px 40px 20px;
    float: left;
    background-color: white;
    border-bottom:  1px solid #e5e5e5;
    overflow: hidden;
    position: relative;
}

.discription {
    width: 390px;
    height: 230px;
    border: solid 1px #f6f6ft6;
}

.newDiv {
    width: 485px;
    height: 540px;
    padding-right: 20px;
    margin: 30px 0 0 0;
    overflow-y: auto;
}

.new-event-name {
    width: 390px;
    border: solid 1px #ebebeb;
}

.new-event {
    border: 0;
    background: #4676D7;
    color: #fff;
    padding: 12px 50px;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 25px;
}

.gray-container {
    margin-top: 30px;
    width: 470px;
    height: 540px;
    overflow: auto;
}

.ref {
    width: 30px;
    background-color: white;
    overflow: hidden;
    position: relative;
    float: left;
}

.triangle {
    float: right;
    padding: 0 10px 10px 0;
}

.span_icon {
    display: inline-block;
    transition: transform .2s;
    padding-left: 0;
}

.span_icon.active {
    transform: rotate(90deg);
    padding-left: 0;
}

.test {
    float: right;
    padding: 29px 10px 20px 40px;
    border-bottom:  1px solid #e5e5e5;
}

.error {
	border: 1px solid red;
}

